<?xml version="1.0"?>
<launch>
  <!-- Define parameters from arguments -->

  <!-- <arg name="world_name" default="small_indoor_scenario"/>  -->
  <!-- <arg name="world_name" default="rolling_landscape_120m"/>  -->
  <!-- <arg name="world_name" default="domain_ABC_textured"/>  -->
  <arg name="world_name" default="outdoor_1"/> 
  <param name="world_name" value="$(arg world_name)"/>
  <arg name="world_file" default="$(find gym_hectorquad)/worlds/$(arg world_name).world"/> 
  <!-- <arg name="world_file" default="$(find simulation_supervised_demo)/worlds/$(arg world_name).world"/>  -->
  <param name="world_file" value="$(arg world_file)"/>
  <arg name="graphics" default="true"/> 
  <param name="graphics" value="$(arg graphics)"/>
  

  <!-- Gazebo with world -->
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--use line for spawning world from .dae mesh in gz model folder-->
    <arg name="world_name" value="$(arg world_file)"/>
    <!-- <arg name="gui" value="false"/> -->
    <arg name="gui" value="$(arg graphics)"/>
    <arg name="headless" default="false"/>
    <!-- <arg name="paused" default="true"/>     -->
  </include>

  <!-- Spawn simulated quadrotor uav -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.01"/> <!-- REVERT THIS WHEN DONE-->
  <arg name="Yspawned" default="1.57"/>
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
    <!-- Note: do not change quadrotor model with model argument as then pose estimation fails to start and /ground_truth/state will not be published on which fsm.py depends to start the simulation.-->
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="Y" default="$(arg Yspawned)"/>
  </include>


  <!-- Enable Motors by Default -->
  <!-- <node pkg="gym_hectorquad" name="lift_node" type="lift"/> -->
  <node pkg="gym_hectorquad" name="hover_node" type="hover"/>
  <node pkg="gym_hectorquad" name="dronet_test_node" type="dronet_test" output="screen"/>
  
  <!-- Start Dronet-->
  <include file="$(find dronet_perception)/launch/dronet_launch.launch"/>

  <!-- Start Rviz Visualization-->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find gym_hectorquad)/rviz/ghq_all.rviz" />
  <node pkg="gym_hectorquad" name="viz_node" type="viz_node"/>  

  <!-- UAV flies at a certain height -->
  <arg name="starting_height" default="1"/>
  <param name="starting_height" value="$(arg starting_height)"/>
  

</launch>
